@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.3s ease;
}

.dark body {
  background: #050816;
  color: white;
}

.light body {
  background: #ffffff;
  color: black;
}

.section {
  width: 90%;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.gradient-text {
  background: linear-gradient(to right, #8b5cf6, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}